{include file="public/header"}
<style >
    .content {padding-top: 30px !important;}
    .img_wrap #file_upload_img {position: absolute;opacity: 0;left: 0;top: 0;width: 100%;height: 100%;max-width: 100% !important;}
    .img_wrap { overflow: hidden;height: 100px;width: 100px;position: relative;}
    .img_wrap img { width: 100%;height: 100%;padding:5px;border: 1px dashed  #e2e2e2;}
    .form-group-col-2 .form-cont{padding-left: 1px !important;}

</style>
<link href="__STATIC__/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
<link href="__STATIC__/plugins/wysiwyg/external/google-code-prettify/prettify.css" rel="stylesheet">
<link href="__STATIC__/plugins/twitter-bootstrap/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="__STATIC__/plugins/twitter-bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
<link href="__STATIC__/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
<link href="__STATIC__/plugins/wysiwyg/font-awesome.css" rel="stylesheet">

<link rel="stylesheet" href="__STATIC__/admin/js/jquery.datetimepicker.css">
<link rel="stylesheet" href="__STATIC__/admin/css/select2.min.css">

<!--<script src="__STATIC__/admin/js/jquery.datetimepicker.min.js"></script>-->
<script src="__STATIC__/admin/js/jquery.datetimepicker.full.min.js"></script>
<script src="__STATIC__/admin/js/select2.min.js"></script>

<!--
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
-->

<!--添加或者修改的弹框-->
<div class="content">
    <div class="weui_dialog_hd">
        <a href="javascript:window.history.go(-1);" class="icon icon-109 f-white" style="padding-right: 20px;color:#00A9E0 !important">Back</a>
        <span class="weui_dialog_title">Create 展会 </span>
    </div>

    <form id="myform" class="parsley-validate " onsubmit="return false" method="post" id="form" data-parsley-validate >
        <input type="hidden" name="id" value="{$activity.id}">
        <div class="weui_cell" >
            <div class="weui_cell_hd"><label for="" class="weui_label">展会名称:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="form-boxed form-control" type="text" name="title" style="max-width:40%" value="{$activity.title}" placeholder="展会标题" data-parsley-trigger="change" required="required" />
            </div>
        </div>
        
        <div class="weui_cell" style="margin-top:20px" >
            <div class="weui_cell_hd"><label for="" class="weui_label">展会海报图片 <span class="zn"></span>:</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <div class="img_wrap">
                    <img src="{$activity.img}" id="show_upload_img">
                    <input type="file" id="file_upload_img">
                </div>
                <p class="f-gray"><i class="icon icon-40 f20 "></i>JPG, PNG format only, file maximum 1M, size: 323X60px</p>
                <input type="text" name="img" id="upload_img" value="{$activity.img}" required="required" style="display: none">
            </div>
        </div>

        <div class="weui_cell" style="margin-top:20px" >
            <div class="weui_cell_hd"><label for="" class="weui_label">列表页图片 <span class="zn"></span>:</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <div class="img_wrap">
                    <img src="{$activity.list_img}" id="list_img_show_upload_img">
                    <input type="file" class="list_img_" id="file_upload_img">
                </div>
                <p class="f-gray"><i class="icon icon-40 f20 "></i>JPG, PNG format only, file maximum 1M, size: 323X60px</p>
                <input type="text" name="list_img" id="list_img_upload_img" value="{$activity.list_img}" required="required" style="display: none">
            </div>
        </div>

        <div class="weui_cell" id="city">
            <div class="weui_cell_hd"><label for="" class="weui_label">展会地点:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="form-boxed form-control" type="text" name="city" style="max-width:40%" value="{$activity.city}" placeholder="展会地点" data-parsley-trigger="change" />
            </div>
        </div>

        <div class="weui_cell" >
            <div class="weui_cell_hd"><label for="" class="weui_label">展会开始时间:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <input type="text" name="time" style="width: 128px;" value="{$activity.time}" id="datetimepicker"/><br><br>
            </div>
        </div>

        <div class="weui_cell" >
            <div class="weui_cell_hd"><label for="" class="weui_label">展会结束时间:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <input type="text" name="time_end" style="width: 128px;" value="{$activity.time_end}" id="datetimepickerstop"/><br><br>
            </div>
        </div>
        <script>

            $('#datetimepicker').datetimepicker({
                dayOfWeekStart : 1,
                lang:'ch',
                startDate:	new Date(),
                allowDateRe :{format:'Y-m-d',allowDateRe:'\d{4}-(03-31|06-30|09-30|12-31)' }     ,        // 设置正则表达式检查日期 如：{format:'Y-m-d',allowDateRe:'\d{4}-(03-31|06-30|09-30|12-31)' }
                timepickerScrollbar: true,  // ture设置timepicker显示滑动条  false设置timepicker不显示滑动条
                todayButton: true,            // ture显示今天按钮  false不显示今天按钮   位置在datepicker左上角
                prevButton: true,              // ture显示上一月按钮  false不显示上一月按钮   位置在datepicker左上角
                nextButton: true,          // ture显示下一月按钮  false不显示下一月按钮   位置在datepicker又上角
                scrollMonth: true

            });
            $('#datetimepicker').datetimepicker({value:'{$activity.time}',step:10});
            $.datetimepicker.setLocale('ch')


            $('#datetimepickerstop').datetimepicker({
                dayOfWeekStart : 1,
                lang:'ch',
                startDate:	new Date(),
                allowDateRe :{format:'Y-m-d',allowDateRe:'\d{4}-(03-31|06-30|09-30|12-31)' }     ,        // 设置正则表达式检查日期 如：{format:'Y-m-d',allowDateRe:'\d{4}-(03-31|06-30|09-30|12-31)' }
                timepickerScrollbar: true,  // ture设置timepicker显示滑动条  false设置timepicker不显示滑动条
                todayButton: true,            // ture显示今天按钮  false不显示今天按钮   位置在datepicker左上角
                prevButton: true,              // ture显示上一月按钮  false不显示上一月按钮   位置在datepicker左上角
                nextButton: true,          // ture显示下一月按钮  false不显示下一月按钮   位置在datepicker又上角
                scrollMonth: true

            });
            $('#datetimepickerstop').datetimepicker({value:'{$activity.time_end}',step:10});
            $.datetimepicker.setLocale('ch')
        </script>


        <div class="weui_cell" >
            <div class="weui_cell_hd"><label for="" class="weui_label">bu选择:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <ul>
                    <?php
                        $bu_id = explode(',',$activity['bu_id']);
                        $work_id = explode(',',$activity['work_id']);
                        $a=0;
                        $select = '';
                    ?>
                    {volist name="bulist" id = "vo" key = "key"}
                  
                        <label class="checkbox-inline">
                            <input type="radio" id="bu_id{$a}" name="bu_id[]"
                                   <?php
                                        foreach($bu_id as $bkey => $bval){
                                            if($bval == $vo['id']){
                                                echo 'checked="checked"';
                                                $select = 1;
                                            }else{
                                                 $select = 0;
                                            }
                                        }
                                    ?>
                                   id="inlineCheckbox1" value="{$vo.id}">{$vo.bu_name}
                        </label>
                        <?php
                              $a++;
                         ?>
                        <label  class="checkbox-inline" style="display:none">
                            <select
                            <?php
                            foreach($bu_id as $bey => $bal){
                            if($bal == $vo['id']){

                            }else{

                               }
                            }
                            ?>
                              name="work_id[]" id="company_el{$a}" class="js-example-basic-multiple{$a}" multiple="multiple">
                                {volist name="vo['type']" id = "v" key = "k"}

                                <optgroup value="" label="{$v['type_name']}">
                                    <?php
                                         unset($select);
                                          foreach($v['work'] as $kk => $vv){
                                             foreach($work_id as $wkey => $wval){
                                                if($wval == $vv['id']){
                                                    $sel = "selected='selected'";
                                                    echo '<option '.$sel.' value='.$vv['id'].'>'.$vv['work_type_name'].'</option>';

                                                }else{

                                                }
                                             }
                                            echo '<option  value='.$vv['id'].'>'.$vv['work_type_name'].'</option>';
                                          }
                                    ?>
                                </optgroup>

                                {/volist}
                            </select>
                        </label>
                 
                    {/volist}
                </ul>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('#money').hide()
                $('#photograph').hide()
                $('#gallery').hide()
                $('#is_gps').hide()
                $('#onone').hide()

                if ($('#bu_id0').prop("checked")){
                    // $('#money').show()
                }

                if ($('#lineRadio2').prop("checked")){
                    $('#city').hide()

                    $('#photograph').show()
                    $('#gallery').show()
                    $('#is_gps').show()
                    $('#onone').show()
                }

            });
            $(function () {
                $($('#bu_id0')).click(function () {
                    if ($('#bu_id0').prop("checked")){
                        $('#money').show()
                    }else{
                        $('#money').hide()
                    }
                })

                $(this).on('ready','#inlineCheckbox1',function () {

                    if ($(this).prop("checked")) {

                        $(this).parent().next().find("select").removeAttr("disabled");
                        if ($(this).val() == 1){
                            $('#money').show()
                        }
                    }else{

                        $(this).parent().next().find("select").attr("disabled",true);
                        if ($(this).val() == 1){
                            $('#money').hide()
                        }
                    }
                })
                $('#lineRadio2').click(function () {
                    $('#photograph').show()
                    $('#gallery').show()
                    $('#is_gps').show()
                    $('#onone').show()
                    $('#money').show()
                })

                $('#lineRadio1').click(function () {

                    $('#photograph').hide()
                    $('#gallery').hide()
                    $('#is_gps').hide()
                    $('#onone').hide()
                    $('#money').hide()
                })

                // console.log($('.js-example-basic-multiple'));
                $('.js-example-basic-multiple1').select2({
                    placeholder: "请至少选择一个",
                    tags:true,
                    createTag:function (decorated, params) {
                        return null;
                    },
                    width:'256px'
                });
                $('.js-example-basic-multiple2').select2({
                    placeholder: "请至少选择一个",
                    tags:true,
                    createTag:function (decorated, params) {
                        return null;
                    },
                    width:'256px'
                });
                $('.js-example-basic-multiple3').select2({
                    placeholder: "请至少选择一个",
                    tags:true,
                    createTag:function (decorated, params) {
                        return null;
                    },
                    width:'256px'
                });
                $('.js-example-basic-multiple4').select2({
                    placeholder: "请至少选择一个",
                    tags:true,
                    createTag:function (decorated, params) {
                        return null;
                    },
                    width:'256px'
                });
            })
        </script>
        <div class="weui_cell" >
            <div class="weui_cell_hd"><label for="" class="weui_label">是否公开:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <label class="radio-inline">
                    <input type="radio" name="is_open" {$activity.is_open==1 ? 'checked="checked"' : ''} checked="checked" id="inlineRadio1" value="1"> 公开
                </label>
                <label class="radio-inline">
                    <input type="radio" name="is_open"  {$activity.is_open==2 ? 'checked="checked"' : ''} id="inlineRadio2" value="2"> 私密
                </label>
            </div>
        </div>

        <div class="weui_cell" >
            <div class="weui_cell_hd"><label for="" class="weui_label">展会摘要:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="form-control" name="abstract" placeholder="展会摘要" style="width: 500px" rows="5">{$activity.abstract}</textarea>
            </div>
        </div>

        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="" class="weui_label">活动介绍 <span class="zn"></span>:</label></div>
            <div class="weui_cell_bd weui_cell_primary">

                <!--<textarea name="content1" style="width:700px;height:200px;visibility:hidden;">{$activity.content}</textarea>-->
                <!--<br />-->

                <div class="img_wrap">
                    <img src="{$activity.content}" id="content_img_show_upload_img">
                    <input type="file" class="list_img_content" id="file_upload_img">
                </div>
                <p class="f-gray"><i class="icon icon-40 f20 "></i>请按规定上传活动详情图</p>
                <input type="text" name="content" id="content_img_upload_img" value="{$activity.content}" required="required" style="display: none">

            </div>
            <!-- <input type="hidden" name="content" id="content"> -->
        </div>

        <div class="weui_cell" >
            <div class="weui_cell_hd"><label for="" class="weui_label">转发描述:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="form-control" name="forward_text" placeholder="转发描述" style="width: 500px" rows="5">{$activity.forward_text}</textarea>
            </div>
        </div>

        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="" class="weui_label">线下或线上:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <label class="radio-inline">
                    <input type="radio" name="line" {$activity.line == 1 ? 'checked="checked"' : ''} id="lineRadio1" value="1"> 线下
                </label>
                <label class="radio-inline">
                    <input type="radio" name="line" {$activity.line == 2 ? 'checked="checked"' : ''} id="lineRadio2" value="2"> 线上
                </label>
            </div>
        </div>

        <div class="weui_cell" id="money">
            <div class="weui_cell_hd"><label for="" class="weui_label">红包金额:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="form-boxed form-control" type="text" name="money" style="max-width:40%;width: 128px;" value="{$activity.money}"  placeholder="只有RBS有红包" data-parsley-trigger="change" required="required" />
            </div>
        </div>

        <div class="weui_cell" id="integral">
            <div class="weui_cell_hd"><label for="" class="weui_label">积分:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="form-boxed form-control" type="text" name="integral" style="max-width:40%;width: 128px;" value="{$activity.integral}"  placeholder="积分" data-parsley-trigger="change" required="required" />
            </div>
        </div>

        <div class="weui_cell" id="onone">
            <div class="weui_cell_hd"><label for="" class="weui_label">是否多次上传:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <label class="radio-inline">
                    <input type="radio" name="onone" {$activity.onone == 1 ? 'checked="checked"' : ''} id="onone1" value="1"> 不允许
                </label>
                <label class="radio-inline">
                    <input type="radio" name="onone" {$activity.onone == 1 ? 'checked="checked"' : ''} id="onone1" value="2"> 允许
                </label>
            </div>
        </div>

        <div class="weui_cell" id="photograph">
            <div class="weui_cell_hd"><label for="" class="weui_label">拍照上传:</div>
            <div class="weui_cell_bd weui_cell_primary">

                <label class="radio-inline">
                    <input type="radio" name="photograph" {$activity.photograph == 1 ? 'checked="checked"' : ''} id="lineRadi" value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="photograph" {$activity.photograph == 2 ? 'checked="checked"' : ''} id="lineRadi" value="2"> 关闭
                </label>
                <label class="radio-inline">活动说明: </label>
                <label class="radio-inline">
                    <input class="form-boxed form-control" type="text" name="photograph_des" style="" value="{$activity.photograph_des}"  placeholder="" data-parsley-trigger="change" />
                </label>
                <label class="radio-inline">照片数量: </label>
                <label class="radio-inline"><input class="form-boxed form-control" type="text" name="photograph_img_sum" style="max-width:40%;width: 150px;" value="{$activity.photograph_img_sum}"  placeholder="" data-parsley-trigger="change"  /> </label>
            </div>
        </div>

        <div class="weui_cell" id="gallery">
            <div class="weui_cell_hd"><label for="" class="weui_label">图库上传:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <label class="radio-inline">
                    <input type="radio" name="gallery" {$activity.gallery == 1 ? 'checked="checked"' : ''} id="lineRa" value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gallery" {$activity.gallery == 2 ? 'checked="checked"' : ''} id="lineRa" value="2"> 关闭
                </label>
                <label class="radio-inline">活动说明: </label>
                <label class="radio-inline"><input class="form-boxed form-control" type="text" name="gallery_des" style="" value="{$activity.gallery_des}"  placeholder="" data-parsley-trigger="change"  /> </label>
                <label class="radio-inline">照片数量: </label>
                <label class="radio-inline"><input class="form-boxed form-control" type="text" name="gallery_img_sum" style="max-width:40%;width: 150px;" value="{$activity.gallery_img_sum}"  placeholder="" data-parsley-trigger="change"  /> </label>

            </div>
        </div>

        <div class="weui_cell" id="is_gps">
            <div class="weui_cell_hd"><label for="" class="weui_label">是否同步当前位置:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <label class="radio-inline">
                    <input type="radio" name="is_gps" {$activity.is_gps == 1 ? 'checked="checked"' : ''} id="inlineRadio1" value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="is_gps" {$activity.is_gps == 2 ? 'checked="checked"' : ''} id="inlineRadio2" value="2"> 关闭
                </label>
            </div>
        </div>

        <div class="weui_cell" >
            <div class="weui_cell_hd"><label for="" class="weui_label">是否开启:</div>
            <div class="weui_cell_bd weui_cell_primary">
                <label class="radio-inline">
                    <input type="radio" name="status" {$activity.status == 1 ? 'checked="checked"' : ''} id="inlineRadio1" value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" {$activity.status == 2 ? 'checked="checked"' : ''} id="inlineRadio2" value="2"> 关闭
                </label>
            </div>
        </div>

        <!--<p style="display:block;margin-left:152px" class="f-gray"><i class="icon icon-40 f20 "></i>Name words maximum 100</p>-->
        <div class="form-group-col-2">
            <div class="form-label"></div>
            <div class="form-cont">
                <input type="submit" class="btn btn-primary" id="submit" value="submit" style="margin: 30px 0;margin-left: 1px;"/>
            </div>
        </div>
    </form>
</div>

<link rel="stylesheet" href="__STATIC__/kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="__STATIC__/kindeditor/plugins/code/prettify.css" />
<script charset="utf-8" src="__STATIC__/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="__STATIC__/kindeditor/lang/zh-CN.js"></script>
<script charset="utf-8" src="__STATIC__/kindeditor/plugins/code/prettify.js"></script>

<script src="__STATIC__/js/parsley.js"></script>

<script>

   var editor;
    //绑定数据
    // function bindData(data) {
    // var options = {
    //     cssPath : '__STATIC__/kindeditor/plugins/code/prettify.css',
    //     uploadJson: "{:url('Common/upload')}",
    //     fileManagerJson: '/Scripts/KindEditor/asp.net/file_manager_json.ashx',
    //     allowFileManager: true,
    //     afterBlur: function () {
    //         this.sync();
    //     },
    //     afterCreate: function () {
    //         this.sync();
    //     }
    // }
    // editor = KindEditor.create('textarea[name="content1"]', options);
    // prettyPrint();

    //表单验证成功后ajax提交保存
    var is_validate =  false; //表单的验证情况 默认验证失败
    $('.parsley-validate').parsley().on('form:success', function() {
        var is_validate = true;
        //  $("#content").val(editor.html());
        document.getElementById("submit").disabled = false;
        ajax_saveData(); //提交数据
    });

    //ajax提交保存数据
    var HTTP_REFERER = "<?php echo $_SERVER['HTTP_REFERER'] ?>"
    var ajax_saveData = function(){
        $.ajax({
            cache: false,
            type: "POST",
            url:"{:url('edit')}",
            data:$('#myform').serialize(),// 你的formid
            async: false,
            success: function(data) {
                if(data.code == 1 ){ //success
                    window.location.href = HTTP_REFERER;
                }else{
                    alert(data.msg);
                }
            }
        })
    }




</script>


<script>
    //上传图片
    $('#file_upload_img').on('change',function(){
        var fd = new FormData();
        fd.append('file', $('#file_upload_img')[0].files[0]);
        $.ajax({
            url: "{:url('common/upload')}",
            type: "POST",
            processData: false,
            contentType: false,
            data: fd,
            success: function (result){
                if(result){
                    $('#upload_img').val(result.url);
                    $('#show_upload_img').attr("src",result.url);
                }else{
                    alert('The system is busing please try again later, thanks!');
                }
            }
        },'json');
    });

    $('.list_img_').on('change',function(){
        var fd = new FormData();
        fd.append('file', $('.list_img_')[0].files[0]);
        $.ajax({
            url: "{:url('common/upload')}",
            type: "POST",
            processData: false,
            contentType: false,
            data: fd,
            success: function (result){
                if(result){
                    $('#list_img_upload_img').val(result.url);
                    $('#list_img_show_upload_img').attr("src",result.url);
                }else{
                    alert('The system is busing please try again later, thanks!');
                }
            }
        },'json');
    });

       $('.list_img_content').on('change',function(){
        var fd = new FormData();
        fd.append('file', $('.list_img_content')[0].files[0]);
        $.ajax({
            url: "{:url('common/upload')}",
            type: "POST",
            processData: false,
            contentType: false,
            data: fd,
            success: function (result){
                if(result){
                    $('#content_img_upload_img').val(result.url);
                    $('#content_img_show_upload_img').attr("src",result.url);
                }else{
                    alert('The system is busing please try again later, thanks!');
                }
            }
        },'json');
    });
</script>




