<!doctype html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
</head>
<style>
select {min-width: 20px !important;border-radius: 3px;}
</style>
<body>
	<!--header start -->
	{include file="public/header"}
	<!--header end-->

		<div class="module-toolbar g-clearfix">
		<div class="prev-dom"></div>
		<div class="default-dom">
			<div class="list-grid-switch list-switched-on">
				<select name="language"  class="list-switch" >
					<?php $language = getLanguage(-1);?>
						<option value="0" {if condition="0 eq $return['language']"}selected="selected"{/if} >All</option>
					{volist name="language" id="vo"  key="k" }
						<option value="{$k}" {if condition="$k eq $return['language']"}selected="selected"{/if} >{$vo}</option>
					{/volist}
				</select>
			</div>

			<div class="bar-search">
				<div class="form-box" node-type="form-box">
					<form class="search-form clearfix" action="index" method="post">
						<input class="search-query" name="searchText"  value="{$return['searchText']?=trim($return['searchText'])} " type="text">
						<span class="search-button">
							<span class="icon icon-4"></span>
						</span>
						<input type="hidden" value="{$return['language']}" name="language" id="language"/>
					</form>
				</div>
			</div>
			<div class="bar" style="white-space: nowrap; position: relative;">
				<a href="{:url('add')}" style="margin-top:15px;" class="weui_btn weui_btn_mini weui_btn_default"><i class="icon icon-36"></i>Add</a>
				<!-- <a href="{:url('delete')}" class="weui_btn weui_btn_mini weui_btn_default"><i class="icon icon-23"></i>Delete</a> -->
				<!-- <a href="{:url('export')}" class="weui_btn weui_btn_mini weui_btn_default"><i class="icon icon-2"></i>Export</a> -->
			</div>
		</div>
	</div>

	<div node-type="module-history-list" class="module-history-list">
		<span class="history-list-dir">All</span>
		<span class="history-list-tips">All loaded, Total:{$return['total']} items</span>
	</div>


	<script src="__STATIC__/plugins/wysiwyg/jquery.min.js"></script>
	<link href="__STATIC__/js/fSelect/fSelect.css" rel="stylesheet" type="text/css">
	<script src="__STATIC__/js/fSelect/fSelect.js?r=rand()"></script>
	<script>
	$(function() {
		$('.select').fSelect();
	});
	</script>

    <table class="weui-table weui-border-tb" id="cusTable">
		<thead>
			<tr>
				<th><i class="weui_icon_circle"></i></th>
				<th  style="border-left:2px solid #fff">Cover</th>
				<th>Title</th>
				<th>Views</th>
				<th>Venue</th>
				<th>Starting Time</th>
				<th>Finishing Time</th>
				<th>Language</th>
				<th>Customers</th>
				<th>Operation</th>
			</tr>
		</thead>

		<tbody>
			{if condition="($return['total'] > 0) "}
				{volist name="return['rows']" id="vo"}
					<tr>
						<td><i class="weui_icon_circle"></i></td>
						<td data-field="{$vo.id}"  style="border-left:2px solid #fff">
							{if condition="$vo.poster"}
								<img src="{$vo.poster}" style="width: 60px"/>
							{else /}
								<img src="__STATIC__/images/icon/default_img.png" style="width: 60px"/>
							{/if}
						</td>
						<td style="max-width: 40%">{$vo.title}</td>
						<td>{$vo.views}</td>
						<td>{$vo.venue}</td>
						<td>{$vo.start_time}</td>
						<td>{$vo.end_time}</td>
						
						<td>{:getLanguage($vo.language-1)}</td>
						<td style="width: 100px;">
							<div class="fs-wrap Personal_role"  >
								<select class="select hidden" multiple="multiple">
									<optgroup label="Customers">
										{:customerOption($vo.customerCode)}
									</optgroup>
								</select>
							</div>
						</td>
						<td>
							<a href="javascript:" target="childFrame" class="open-popup" data-target="#popup" data-url="{:url('webinaruser/index',['id'=>$vo.id])}"> <span class="icon icon-18"></span>Users</a>
							<a href="{:url('edit',array('id'=>$vo.id,'lang'=>'1'))}"><span class="icon icon-115" title="Edit">Edit</span></a>
							<a href="{:url('delete',array('id'=>$vo.id))}" id="delete" ><span class="icon icon-23"  title="delete">Delete</span></a>
						</td>
					</tr>
				{/volist}
			{else /}
				<div class="weui_msg hide" id="msg3" style="display: block; opacity: 1;">
					<div class="weui_msg_box"><p><i class="icon icon-40 f20 f-green"></i>No record been found</p></div>
				</div>
			{/if}
		</tbody>
	</table>
	<div class="pages">{$return['page']}</div>
	<!--footer start -->
	{include file="footer"}
	<!--footer end-->
</body>
</html>



<script src="__STATIC__/js/zepto.min.js"></script>
<script src="__STATIC__/js/picker.js"></script>
<script src="__STATIC__/js/select.js"></script>
<script>
//打开iframe
$("a.open-popup").on("click",function(){
	$($(this).data("target")).popup();
	$($(this).data("target")).find("iframe").attr("src", $(this).attr("data-url"));
})

var closePopup = function(){
	$(".close-popup").click();
}

</script>

  <div id="popup" class="weui-popup-container" style="z-index: 999">
  <div class="weui-popup-modal">
	<p class="page-bd-15"><a href="javascript:;" class="weui_btn weui_btn_plain_primary close-popup" style="display: none">关闭</a></p>
	 <div class="weui-header bg-blue"> 
		<div class="weui-header-left"> <a class="icon icon-109 f-white">Back</a>  </div>
		<h1 class="weui-header-title">Webinar users</h1>
		<div class="weui-header-right"><a class="icon icon-95 f-white"></a></div> 
	</div>
	 <iframe name="childFrame" src=""style="width:100%;height:100%;border:none"></iframe>
  </div>
 </div>

  <script src="__STATIC__/js/zepto.min.js"></script> 
<script>
    $(".weui-header-left,.icon-95").on("click",function(){
       $(".close-popup").click();
    }) 

    $("a#act").on("click",function(){
           $(".weui_mask").show().addClass("weui_mask_visible");  
           $("#weui_actionsheet").show().addClass("weui_actionsheet_toggle"); 
           $(".weui_mask,.weui_actionsheet").removeAttr("style"); 
		   $("iframe").attr("src", $(this).attr("data-url")); 
    })
	var close_mask = function(){
		 $(".weui_mask").removeClass("weui_mask_visible").hide();  
         $("#weui_actionsheet").removeClass("weui_actionsheet_toggle").hide(); 
        $(".weui_mask,.weui_actionsheet").removeAttr("style");  
	}
    $(".weui_mask").on("click",function(){
          close_mask();
    })
</script>