<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title></title>

</head>
{include file="public/header"}
<body>
<style>
	li{list-style: none;}
	.weui_cells {
		border-right: 1px solid #d9d9d9;
		width: 14%;
		min-width : 200px;
		height: 100%;
		float:left;
	}
	.content_right{
		width: 86%;
		height:98%;
		position: absolute;
		left: 14%;
	}
    .weui_cell img{
        height: 10vh;
        width: 10vh;
    }
</style>

<div class="weui_cells">
	<div class="weui_cells_title">公众号列表</div>
	{volist name="budata" id="vo"  key="k"}
		<div class="weui_cell" data-url="{$url}?bu_type={$vo.bu_type}" {if condition="$vo.bu_type eq input('param.bu_type')"} style="background:#eee"{/if} >
			<div class="weui_cell_bd weui_cell_primary">
				<p>{$vo.bu_name}</p>
			</div>
		</div>
	{/volist}
</div>

<div style="width:100% !important;height:850px;text-align:center;">
	<div id="loading" style="position: absolute;left: 50%;top: 45%;z-index: 99;padding: 20px;">
		<p>
			<img src="__STATIC__/admin/js/plugins/layer/skin/default/loading-0.gif" width="50xp"  /><br/>
			<font style="height:30px;vartical-algin:center;padding-left:5px"> 正在加载中，请稍等...</font>
		</p>
	</div>
	<div class="content_right" >
		<iframe name="childFrame" id="reportIframe" src="{$url}?bu_type=a" style="width:100%;height:100%;border:none"></iframe>
	</div>
</div>

<script src="__STATIC__/js/zepto.min.js"></script>
<script>
    //打开iframe
    $(function(){
        $(".weui_cells .weui_cell").eq(0).css({"background":"#eee"});
        $("#reportIframe").load(function(){
            $("#loading").css("display","none");
        });
    })

    $(".weui_cells .weui_cell").on("click",function(){
        $(this).siblings().css({"background":"#fff"});
        $(this).css({"background":"#eee"});
        $("iframe").attr("src", $(this).attr("data-url"));

        $("#loading").css("display","block");
        $("#reportIframe").load(function(){
            $("#loading").css("display","none");
        });

    })
</script>
</body>
</html>



