<!doctype html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
</head>
<body>
	<!--header start -->
	{include file="public/header"}
	<!--header end-->
	
	<div class="module-toolbar g-clearfix">
		<div class="prev-dom"></div>
		<div class="default-dom">
			<div class="list-grid-switch list-switched-on">
				<a node-type="list-switch" style="display: none;" class="list-switch" href="javascript:void(0)">
					<span class="icon icon-89"></span>
				</a>
			</div>
		
			<div class="bar-search">
				<div class="form-box" node-type="form-box">
					<form class="search-form clearfix" action="index" method="post">
						<input class="search-query" name="searchText"  value="{$return['searchText']?=trim($return['searchText'])} " type="text">
						<span class="search-button">
							<span class="icon icon-4"></span>
						</span>
					</form>
				</div>
			</div>
			<div class="bar" style="white-space: nowrap; position: relative;">
				<!--<a href="{:url('add')}" style=" margin-top: 15px;" class="weui_btn weui_btn_mini weui_btn_default"><i class="icon icon-36"></i>Add</a>-->
				<a href="{:url('export',['export'=>1,'id'=>$id])}" class="weui_btn weui_btn_mini weui_btn_default"><i class="icon icon-2"></i>Export1</a>
				<a href="{:url('oldexport',['export'=>1,'id'=>$id])}" class="weui_btn weui_btn_mini weui_btn_default"><i class="icon icon-2"></i>Export2</a>
			</div>
		</div>
	</div>
	
	<div node-type="module-history-list" class="module-history-list">
		<a href="javascript:window.history.go(-1);" class="icon icon-109 f-white" style="padding-right: 20px;color:#00A9E0 !important">Back</a>
		<span class="history-list-dir">All</span>
		<span class="history-list-tips">All loaded, Total:{$return['total']} items</span>
	</div>

    <table class="weui-table weui-border-tb" id="cusTable">
		<thead>
			<tr>
				<th style="border-left:2px solid #fff">用户id</th>
				<th>用户名</th>
				<th>微信用户名</th>
				<th>微信头像</th>
				<th>回答时间</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>	
			{if condition="($return['total'] > 0) "}
				{volist name="return['rows']" id="vo"}
			<tr>

				<td data-field="{$vo.member_id}"  style="border-left:2px solid #fff">
					{$vo.member_id}
				</td>
				<td>{$vo.name}</td>
				<td><?php echo base64_decode($vo['nickname']); ?></td>
				<td><img src="{$vo.headimgurl}" alt=""></td>
				<td>{$vo.creater_time}</td>
				<td>
					<a href="{:url('answer',array('member_id'=>$vo.member_id,'id'=>$vo.id))}"><span class="icon icon-115" title="Edit">查看回答</span></a>
				</td>
			</tr>
				{/volist}
			{else /}
				<div class="weui_msg hide" id="msg3" style="display: block; opacity: 1;">
					<div class="weui_msg_box"><p><i class="icon icon-40 f20 f-green"></i>No record been found</p></div>
				</div>	
			{/if}	
		</tbody>		
	</table>
	<div class="pages">{$return['page']}</div>
	<!--footer start -->
	{include file="footer"}
	<!--footer end-->
</body>
</html>

<script src="__STATIC__/js/zepto.min.js"></script> 
<script src="__STATIC__/js/picker.js"></script>
<script src="__STATIC__/js/select.js"></script>
<script>
//打开iframe
$("a.open-popup").on("click",function(){
	$($(this).data("target")).popup();
	$($(this).data("target")).find("iframe").attr("src", $(this).attr("data-url")); 
})

var closePopup = function(){
	$(".close-popup").click();
}

</script>

 <div id="popup" class="weui-popup-container" style="z-index: 99">
  <div class="weui-popup-modal">
	<p class="page-bd-15"><a href="javascript:;" class="weui_btn weui_btn_plain_primary close-popup" style="display: none">Close</a></p>
	 <iframe name="childFrame" src=""style="width:100%;height:100%;border:none"></iframe>
  </div>
 </div>